Project {{ .Project.Name }} ({{ .Project.Slug }}) was created from template {{ .Template.Name }}@{{ .Template.Version }}.
{{ if is "database" "postgres" }}Database: PostgreSQL.{{ else }}No database selected.{{ end }}
